---
import Layout from '../layouts/Layout.astro';
import Members from '../components/SectionMembers.astro';
import Organizer from '../components/SectionOrganizer.astro';
---

<Layout title="Welcome to Astro.">
	<main>
		<section>
			<img src="/icon_full.png">
		</section>
		<section id="members">
			<Members />
		</section>
		<section>
			<Organizer />
		</section>
		<footer>
			<a>&copy; 2024 全国言語愛好会</a>
		</footer>
	</main>
</Layout>

<style>
	main {
		width: 100vw;
		height: 100svh;
		padding: 0;
		font-size: 16px;
		line-height: 1.6;
		display: flex;
		flex-direction: column;
		align-items: center;
		text-align: center;
		overflow-y: scroll;
		scroll-snap-type: y proximity;
	}
	section {
		scroll-snap-align: start;
	}
	h1 {
		font-size: 4rem;
		font-weight: 700;
		line-height: 1;
		text-align: center;
		margin-bottom: 1em;
	}

	section {
		min-height: 100svh;
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
	}
	:global(h1) {
		color: #737373;
		font-size: 2em;
		font-weight: bold;
		margin: 2em;
	}

	footer {
		margin-top: 2em;

		background-color: #f8f8f8;
		color: #737373;

		width: 100%;
		padding: 4em;

		display: flex;
		justify-content: center;
		align-items: center;

		scroll-snap-align: end;
	}
</style>
