<h1>団体メンバー</h1>
<ul>
    <li>
        <a href="https://oulcggc.org/">
            <img src="/members/oulcggc.jpg" alt="阪大言語サークルGGC">
            <span>阪大言語サークルGGC</span>
        </a>
        <a href="https://huling.org/">
            <img src="/members/huling.svg" alt="北大言語学サークルHuling">
            <span>北大言語学サークルHuling</span>
        </a>
        <a href="https://ut-gogaku.org/">
            <img src="/members/ut-glossophilia.jpg" alt="東京大学語学愛好会">
            <span>東京大学語学愛好会</span>
        </a>
        <a href="https://docs.google.com/presentation/d/1sAD2_pAYprALkdNAV4qjWN5VaJRvPhuKBD63oNu39Us/edit?usp=drivesdk">
            <img src="/members/placeholder.png" alt="名古屋ことば同好会">
            <span>名古屋ことば同好会</span>
        </a>
        <a href="https://x.com/Arabic_hirodai">
            <img src="/members/placeholder.png" alt="広島大学アラビア語勉強会">
            <span>広島大学アラビア語勉強会</span>
        </a>
    </li>
</ul>

<style>
	a img {
		height: 10em;
	}

	ul {
		display: flex;
		padding: 0;
		gap: 2em;
		flex-wrap: wrap;
		justify-content: center;
		align-items: center;
        list-style: none;
	}

	li {
		display: contents;
	}
	a {
		display: flex;
		flex-direction: column;
		align-items: center;
		color: #737373;
		text-decoration: none;
		gap: 0.25em;
        flex-grow: 0;
        flex-shrink: 0;
        flex-basis: 25%;
	}
	a:hover {
		color: #333;
		text-decoration: underline;
	}
</style>