<h1>主催者</h1>

<dl>
    <dt>主宰</dt>
    <dd>
        <a href="https://homepage-82o.pages.dev/">
            YuNai
        </a>
    </dd>

    <dt>技術</dt>
    <dd>
        <a href="https://xiupos.net/">Xiupoς</a>
    </dd>
    <dt></dt>
    <dd>
        <a href="https://yocjyet.dev/">Yo, Cjyet</a>
    </dd>

    
</dl>
<p>……</p>


<style>
    dl {
        display: grid;
        grid-template-columns: 1fr 3fr;
        font-size: 20px;
    }
</style>